<%- include("./templates/header")%>
<h2 class="container">Compatible blood type donor</h2>
<table border="1px">
  <tr>
    <th>Blood Type</th>
    <th>Donate Blood To</th>
    <th>Receive Blood From</th>
  </tr>
  <tr>
    <td>A+</td>
    <td>A+, AB+</td>
    <td>A+, A-, O+, O-</td>
  </tr>
  <tr>
    <td>O+</td>
    <td>O+, A+, B+, AB+</td>
    <td>O+, O-</td>
  </tr>
  <tr>
    <td>B+</td>
    <td>B+, AB+</td>
    <td>B+, B-, O+, O-</td>
  </tr>
  <tr>
    <td>AB+</td>
    <td>AB+</td>
    <td>Everyone</td>
  </tr>
  <tr>
    <td>A-</td>
    <td>A+, A-, AB+, AB-</td>
    <td>A-, O-</td>
  </tr>
  <tr>
    <td>O-</td>
    <td>Everyone</td>
    <td>O-</td>
  </tr>
  <tr>
    <td>B-</td>
    <td>B+, B-, AB+, AB-</td>
    <td>B-, O-</td>
  </tr>
  <tr>
    <td>AB-</td>
    <td>AB+, AB-</td>
    <td>AB-, A-, B-O-</td>
  </tr>
</table>
<%- include("./templates/footer")%>
