<%- include("./templates/header")%>
<main>
  <div class="content">
    <div class="container d-flex align-items-center">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="home-img-wrapper">
          <img
            src="/img/cover_one.jpg"
            alt="photo1"
            class="home-image first-home-img"
          />

          <img
            src="/img/cover_two.jpg"
            alt="photo1"
            class="home-image second-home-img"
          />
          <img
            src="/img/cover_four.jpg"
            alt="photo1"
            class="home-image third-home-img"
          />
        </div>
        <div class="d-flex flex-column align-items-center">
          <h2 class="blood-quote">Be the reason for someone's heartbeat.</h2>
          <div class="blood-btns">
            <a href="#" class="btn btn-request">Request Blood</a>
            <a href="#" class="btn btn-outline btn-donate">Donate Blood</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("./templates/footer")%>
