<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/helper.css">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <title>KTM Bloodway</title>
</head>
<body>
    <header class="header-wrapper">
        <div class="container header">
            <a href="/" class="logo"><img src="/img/logo.png" width="40px"> KTM BLOODWAY</a>
            <div class="header-links">
                <a href="/blood-info">Blood info</a>
                <a href="/blood-bank">Blood banks</a>
                <a href="/">What we do</a>
            </div>
            <div class="header-btns">
                <a href="/login" class="btn header-btn">Login</a>
                <a href="/register" class="btn btn-outline header-btn-outline">Register</a>
            </div>
        </div>
    </header>